* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

/*defines attributes for the sidenav bar*/
#sidenav {
    height: 100%;
    width: 10vh;
    position: fixed;
    top: 0;
    left: 0;
}

/*brings sidenav items forward (above everything)
and gets rid of text decoration as well as adds
display type setting fixed dimensions*/
#sidenav a {
    z-index: 1;
    text-decoration: none;
    display: block;
    color: black;
    height: 10vh;
    width: 10vh;;
}

/*pushes slider behind the sidenav items and 
displays it offscreen so it can slide in later.
applys flex display to make text appear at the
end of the block instead of the beginning.
aligns to center vertically and sets the 
transition attributes. Defines dimensions of the
slider block*/
.slider {
    z-index: -1;
    position: absolute;
    margin-top: -10vh;
    margin-left: -40vh;
    height: 10vh;
    width: 40vh;
    background-color: #aaa;
    transition: .5s ease;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    opacity: .85;
    border-top-right-radius: .75vh;
    border-bottom-right-radius: .75vh;
}

/*defines the width of the navbar items and makes
the position relative to prevent overlap*/
.navitem {
    position: relative;
    width: 10vh;
}

/*defines attributes for the text in the navbar
slider blocks*/
.navtext {
    font-family: sans-serif;
    color: white;
    margin-right: 2vh;
    font-size: 3.5vh;
}

.image {
    border-top-right-radius: .75vh;
    border-bottom-right-radius: .75vh;
}

/*adding some color to the backgrounds of the
icons in the navbar*/
#homeicon{
    background: orange;
}
#abouticon{
    background: red;
}
#designicon{
    background: purple;
}
#articon{
    background: blue;
}
#crafticon{
    background: green;
}
#currenticon{
    background: yellow;
}
#contacticon{
    background: orange;
}
#socialsicon{
    background: red;
}
#storeicon{
    background: purple;
}
#othersicon{
    background: blue;
}

/*reduces left  margin of slider block when mouse
hovers over its containing navitem section*/
.navitem:hover .slider {
    margin-left: 0vh;
}

/*moves the side art behind everything else. this
is applied to the art on both sides*/
.sideart {
    z-index: -2;
    position: relative;
    margin-left: 10vh;
    position: relative;
    width: 30vh;
    align-items: center;
}

/*moves the second side art to the end of the
body flex box*/
#sideart2 {
    position: relative;
    margin-left: 0;
    right: 0;
    border: 0;
    align-self: flex-end;
}

#page {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

/*places the logo where it needs to be and sets
the proper dimensions*/
#logoOverlay {
    display: block;
    overflow: hidden;
    height: 100vh;
    align-self: center;
    background: url(https://www.instagram.com/p/BozFfZRgO66/media/?size=l);
    background-size: 90vh 90vh;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 3vh;
}

h2 {
    margin-bottom: 2vh;
}

.sectbreak {
    display: block;
    overflow: hidden;
    width: 110vh;
    max-height: 10vh;
    background-color: yellow;
    align-content: space-around
}

.pics {
    display: block;
    margin: 0 1vh;
    width: 49vh;
    height: 49vh;
    background-color: orange;
}

.card {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5vh;
    justify-content: space-around;
}

p {
    margin-bottom: 1vh;
    color: #303030;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

.card p {
    width: 55vh;
    font-size: 2.5vh;
}

#about {
    width: 110vh;
    justify-content: center;
    
}

#gallery {
    width: 110vh;
}

#design {
    width: 110vh;
}

#art {
    width: 110vh;
}

#craft {
    width: 110vh;
}

#current {
    width: 110vh;
}

#contact {
    width: 110vh;
}

#socials {
    width: 110vh;
}

#store {
    width: 110vh;
}

#others {
    width: 110vh;
}

.button {
    max-width: 10vh;
    display: flex;
    margin: 1.5vh 0;
    padding: 1.5vh 4vh;
    background-color: gray;
    text-align: center;
    text-decoration: none;
    color: white;
    justify-content: center;
    border-radius: .75vh;
}